<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
  </head>

  <body
  style="background-color: lightseagreen">
  
   
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <!-- <a class="navbar-item" href="#">
            <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" alt="Logo">
          </a> -->
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: white;">Here's what we suggest!</h1><br>
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="nyc.jpeg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p id = "Name1" class="title is-4 no-padding">Banff</p>
                    <p>
                      <span class="title is-6">
                        <!-- <a :href=`http://twitter.com/${card.user.handle}`> Info of places will be here </a> </span> </p> -->
                    <p id = "Description1" class="subtitle is-6">Banff National Park is located in the Canadian Rockies. It contains many special and easy access terrian including mountians, valleys, peaks, glaciers, forests, meadows and river.</p>
                  </div>
                </div>
                <div class="content">
                
                  <div class="background-icon"><span class="icon-twitter"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div v-for="card in cardData" key="card.id" class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="beijing.jpeg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                  
                    </figure>
                  </div>
                  <div class="media-content">
                    <p id = "Name2" class="title is-4 no-padding">Denali</p>
                    <p>
                      <span class="title is-6">
                        <!-- <a :href=`http://twitter.com/${card.user.handle}`> Info of places will be here </a> </span> </p> -->
                    <p id = "Description2" class="subtitle is-6">Denali National Park is Preserved is located in the Alaskan wilderness and contains North America's tallest peak. It's home to tundra, forests, glaciers, bears, wolves, moose and more. Some populat activites are biking, backpacking, hiking, and mountaineering</p>
                  </div>
                </div>
                <div class="content">
                  
                  <div class="background-icon"><span class="icon-twitter"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div v-for="card in cardData" key="card.id" class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="london.jpeg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img :src="card.avatar" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p id = "Name3" class="title is-4 no-padding">Reykjavik</p>
                    <p>
                      <span class="title is-6">
                        <!-- <a :href=`http://twitter.com/${card.user.handle}`> Info of places will be here </a> </span> </p> -->
                    <p id = "Description3" class="subtitle is-6">Reykjavik is located in Iceland. It houses National and Saga museums about Iceland's Viking history. Hallgrimskirkja church and Perlan glass dome give a beatiful view of the sea, while the Blue Lagoon Spa exemlifies the island's volcanic activity</p>
                  </div>
                </div>
                <div class="content">
                
                  <div class="background-icon"><span class="icon-twitter"></span></div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <!-- <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div> -->
          <p>
            <big><strong>We have the perfect spot for you!</strong></big><br><br>
            <a href="https://earth.google.com/web/@0,0,0a,22251752.77375655d,35y,0h,0t,0r">Google Earth</a>
          </p>
        </div>
      </div>
    </footer>

    <!-- <script src="../js/cardsData.js"></script> -->

    <!-- Using Vue to populate cards to reduce redundant code -->
    <!-- <script>
      var app = new Vue({
        el: '#app',
        data: {
          cardData: cardsData
        }
      })

    </script> -->
  </body>

</html>
